/*
	CSS Syntax
		selector{
			propertyA: valueA;
			propretyB: valueB;
		}
*/

/*
* - universal selector, it selects all elements in the webpage
	font-family: "Courire New",monospace;
	it tells the browser to use Courier New as its main font for content. However, if the browser is not able to display the font, it will  search its fonts that belong to the family of monospace
	
	font-size - sets the size of the font of the element. Pixels are the sole measure of font-size	


*/

*{
	font-family: "Courier New",monospace;
	font-size: 20px;

}

/*

	html selector - selects all the elements inside the html tags
	background-color -changes the background color of the element
*/

html{
		scroll-behavior: smooth;
}

body{
	    background-color:skyblue;
}

nav{
	background-color: white;
}
/*
	selector: hover - changes the style of the element once the mouse is hovered over it

*/

a:hover{
	background-color: #b4d6de;
}

/*
	>child selector; allows selection of the child of the first selector/element
*/

nav>div{
	/*
		display: inline-block; - it allows changing the display of the element from block to inline-block
				inline-block - the element acts as a block element
				float - changes the horizontal alignment of the element and puts it on the specified positioin/side.

					*/
	display: inline-block;
	/*float: right;*/
}

/*body>section>form>label{
	color: red;*/
/*Tag Selector*/

h1{
	/*
		rem - root element measurement. html tag is the root element. Default mesurement for rem is 16px. 
	*/
	color: black !important;
	/*
		2rem=2*16px
	*/
	font-size: 2rem;
	text-align: center;
}

section{
	/*
		height - changes the height of the element
		vh - view port height; height of the screen of the user
		100vh = 100% of the viewport height of the user's device
	*/
	height: 100vh;
	text-align: center;
}

h2{
	font-size:1.5rem;
}

ol{
	/*list-style-type - changes the style of the list element*/
	list-style-type: none;
}
	/*
	#idName{
	property: value;
	}
	*/
#zuitt-motto{
	letter-spacing: 5px;
	font-size: 30px;
}
	/*
		class selector - selects the elements with the same class name
		.className{
		proerty: value;
		}
	*/
.offered-items{
	/*text transform - changes the casing of the text elements*/
	text-transform: uppercase;
}

	/*
	attribute selector - selects the elemetns with the same attributes*
	tag[atrribute]{
	property: value;
	}
	*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}
	/*
	adjacent sibling selector = selects the sibling element directly after the first element*/
h3 + img{
	/*
	
	*/
	height:300px;
	width: 300px;
	border-radius:150px;

}
	/*descendantn selector
		firstselector descendant{
		property: value;
		}

	*/

section li{
	color: #075966;
}
	/*
		general sibling selector -
		firstSelector ~ secondSelector*/
h2~a{
	text-decoration: none;
}

form{
	color:rgb(0,0,128);
	text-align:center;
	background-color:white;
	border: 2px solid black;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button{
	color:white;
	background-color: #CF0053;
	border: 0px;
	border-radius: 15px;
}

}

}	