
#external{
	color:#fffb5e ;
}
*{
	font-family: "Arial", monospace;
	font-size: 20px;
}
p{
	color: #fffb5e;
}
h1{
	font-size: 2rem;
}

#learn{
	text-transform: uppercase;
}
.language{
	background-color:#aed0a1 ;
}

li[required]{
	border-width: 2px;
	border-style: solid;
	border-color: skyblue;
}

#jsimage + ul{
	list-style: none;
}

section img{

	height: 300px;
	width: 300px;
	border-radius: 150px;
}
section ~ p{
	position: relative;
	left: 20%;
}
section > ul{
	letter-spacing: 5px;
}